.inventory_container {
    margin-top: 100px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, minmax(150px, 450px));
    gap: 15px;
}


.inventory_container>div {
    max-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    color: white;
}

.listingWindow {
    z-index: 10;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    background-color: rgba(10, 10, 10, 0.8);
    border-radius: 12px;
    padding: 15px;
}

.skinImage img {
    width: 450px;
    height: 300px;
    object-fit: contain;
}

.skinImage {
    border-radius: 12px;
    padding: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    height: 100%;
}

.rowSkinName {
    display: flex;
    flex-direction: row;
}

.listingGunSkin {
    display: flex;
    flex-direction: column;
}

.listinGraphAndInputs {
    display: flex;
    flex-direction: column;
}

.listinGraphAndInputs input {
    width: 164px;
    height: 20px;
    margin-bottom: 15px;
}

.listinGraphAndInputs p {
    margin-bottom:45px;
}

.listinGraphAndInputs button {
    width: 95px;
    height: 30px;
}

.saleGraph {
    padding: 20px;
    border: 2px solid rgba(255, 141, 34, 0.8);
    border-radius: 12px;
    margin-bottom: 45px;
}