.skin_container {
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.skin_container:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 13px rgba(105, 105, 105, 0.6);
}

.upper_note {
    display: flex;
    flex-direction: column;
}

.upper_note1 {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.upper_note1 p {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
}

.whole_upper {
    border-bottom: 1px solid gray;
    height: 60px
}

.wear {
    margin-top: 0px;
    color: #a5a5a5;
    font-size: 10px;
}

.skin_price {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.5px;
}


.skin_float {
    font-size: 13px;
    color: #a1a1a1;
    margin-top: 10px;
}

.price_block {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 8px;
    margin-bottom: 12px;
}

.unboxed_from {
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-size: 12px;
    margin-right: 5px;
    color: #999898;
}

.downer_note {
    display: flex;
    flex-direction: row;
}

.card_image {
    width: auto;
    height: 190px;
    object-fit: fill;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    width: 100%;
    border-radius: 10px;
    background: rgba(10, 10, 10, 0.6);
    gap: 1px;
}

.buttons button {

    background: orange;
    border: none;
    padding: 10px;
    width: 50%;
    height: auto;
    transition: all 0.2s ease-in-out;
    color: white;
}

.buttons button:nth-of-type(1) {
    border-radius: 10px 0px 0px 10px;
}

.buttons button:nth-of-type(2) {
    border-radius: 0px 10px 10px 0px;
}

.buttons button:hover {
    background: #ffae42;
    transform: scale(1.07);
    transform: translateY(-7px);
    cursor: pointer;
}

.blurred {
    filter: blur(2px);
    opacity: 1;
    pointer-events: none;
}

.cardWrapper {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.successText {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
    border-radius: 8px;
    z-index: 2;
}