.carousel_wrapper {
    width: 78vw;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.94);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    padding: 50px;
    perspective: 1200px;
}

.carousel_wrapper:active {
    cursor: grabbing;
}

.carousel_gallery {
    position: relative;
    width: 350px;
    height: 350px;
    transform-style: preserve-3d;
    transform-origin: center center;
}

.carousel_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    width: 250px;
    height: 160px;
    background: rgba(128, 128, 128, 0.5);
    border-radius: 16px;
    object-fit: cover;
    padding: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s filter 0.3s transform 0.3s ease-in-out;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel_image img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.image_dimmed {
    opacity: 0.4;
    filter: brightness(60%);
    transform: translateY(-10px);
}